/* Navbar.css */

.navbar {
    display: flex;
    justify-content: center;     /* Centraliza os itens da navbar */
    align-items: center;         /* Alinha verticalmente */
    padding: 10px 20px;          /* Espaçamento interno */
    background-color: #fff;   /* Cor de fundo da navbar */
    position: fixed;             /* Fixa a navbar no topo */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);            
}

.navbar button {
    padding: 10px 20px;
    margin: 0 10px;             /* Espaço entre os botões */
    color: rgb(0, 0, 0);
    background-color: #fff;  /* Fundo dos botões */
    border: none;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; /* Transições suaves */

}

.navbar button:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Efeito de fundo */
    transform: scale(1.05);  /* Aumenta o tamanho do botão */
}

.navbar .login-link button {
    background-color: #007bff;  /* Cor de fundo do botão de login */
}

.navbar .login-link button:hover {
    background-color: #0056b3;  /* Efeito ao passar o mouse */
}


/* Estilo para o botão de logout */
.logout-button {
    display: flex;
    align-items: center;
    background-color: #f44336; /* Cor vermelha para o logout */
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #ec0404; /* Cor mais escura para o hover */
}